body *,
html * {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: system-ui, segoe ui, Helvetica, Arial, sans-serif;
  position: relative;
  margin-inline: auto;
}

.logo {
  max-width: 30%;
  border-style: none;
  vertical-align: middle;
  z-index: 10;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 160px;
  top: 250px;
}

.thumbnails img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  border: 2px solid pink;
  border-radius: 50%;
  align-self: flex-end;
  margin-bottom: 50px;
}
